@media screen and (width<=1200px) {
  .adminContainer {
    overflow: auto;
  }
  .dashboard {
    .widgetcontainer,
    .transaction-container,
    .graph-container {
      justify-content: center;

      flex-wrap: wrap;
    }
    .graph-container .dashboard-categories,
    .transaction-container {
      max-width: 100%;
    }
    .graph-container {
      padding: 2rem;
    }
    .transaction-container {
      padding: 2rem;
      height: unset;
    }
  }
}
@media screen and (width<=1100px) {
  .adminContainer {
    grid-template-columns: 1fr !important;
  }
}
@media screen and (width<=600px) {
  .loading-text {
    font-size: 16px;
  }

  .coupon {
    max-width: 300px !important;
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.1);
    margin: 15px auto;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .product-management {
    flex-direction: column;
    align-items: center;
    padding: 0;
    background-repeat: repeat;
    padding-top: 2rem;
    padding-bottom: 2rem;
    > article {
      max-width: 380px;
    }
    > article > p > span {
      float: right;
    }
    > section {
      max-width: 380px;
      height: auto;
      > img {
        @include square(70%);
        width: 100%;
        object-fit: cover;
      }
    }
  }
  .greeting-section {
    div > h1 {
      @include heading(1px);
      margin-bottom: 0.5em;
    }
    width: 98%;
    margin: 1em auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 2rem;
    padding: 2em 3em;
    border-radius: 10px;
    color: white;
  }
  .chart-container {
    padding: 0;
    > h1 {
      margin: 0;
      text-align: center;
    }
    > section {
      margin: 8rem auto;
    }
  }
}
