.shipping {
  @include flex(row);
  background-image: url("../assets/bg-images/bg2.jpg");
  object-fit: cover;
  background-repeat: repeat;
  background-size: cover;
  .back-btn {
    @include square(2.5rem);
    background-color: black;
    color: white;
    @include flex(row);
    position: fixed;
    top: 2rem;
    left: 2rem;
    border-radius: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    svg {
      transition: all 0.3s;
    }
    &:hover svg {
      translate: -0.25rem;
    }
  }
  > form {
    max-width: 450px;
    width: 90%;
    height: auto;
    @include flex(column, center, stretch, 1.5rem);
    padding: 2rem;
    margin: 2em 1em;
    background: rgba(255, 255, 255, 0.37);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border: 1px solid rgba(255, 255, 255, 0.46);

    > h1 {
      @include heading(2px);
      margin: 2rem;
      text-align: center;
    }
    > input,
    > select {
      border: 1px solid rgba(31, 31, 31, 0.351);
      padding: 1rem;
      border-radius: 5px;
      outline: none;
      font-size: 1.05rem;
      border-radius: 5px;
    }
    > button {
      @include btn(1rem, rgb(87, 255, 87), white);
      border-radius: 5px;
      font-size: 1.05rem;
      text-transform: uppercase;
      letter-spacing: 2px;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
