@import "admin/mixin";
@import "./_cart";
@import "./login";
@import "./search";
@import "./header";
@import "./shipping";
@import "./product_details";
@import "./notfound";
@import "./admin/chart";
@import "./admin/dashboard";
@import "./admin/product";
@import "./mediaquery.scss";
@import "./admin/mediaquery";
@import "./admin/discount";
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 300;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(213, 213, 213); /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(60, 255, 0); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 2px solid rgb(248, 248, 248); /* creates padding around scroll thumb */
}
a {
  text-decoration: none;
  color: black;
}

.red {
  color: red;
}
.purple {
  color: rgb(47, 0, 255);
}
.green {
  color: rgb(0, 195, 0);
}
.sidebar-link {
  padding: 0.5rem 1rem;
  border-radius: 10px;
}
// a.active {
//   background-color: rgba(92, 240, 66, 0.56);
//   color: rgba(0, 0, 0, 0.8) !important;
// }
button {
  &:disabled {
    cursor: not-allowed !important;
    opacity: 0.5;
  }
}
.container {
  max-width: 1367px;
  width: 100%;
  margin: auto;
  overflow: auto;
  > h1 {
    @include heading;
    margin: 1rem 0;
    text-align: left;
  }
}
.heading {
  @include heading;
  margin: 1rem 0;
  text-align: center;
}
.checkout-container {
  max-width: 400px;
  width: 100%;
  margin: auto;
  > form {
    @include flex(column, flex-start, stretch, 2rem);
    > button {
      @include btn(1rem, rgb(56, 255, 73), #ffffff);
      width: 100%;
      font-size: 1.1rem;
    }
  }
}
.adminContainer {
  @include grid(1fr 4fr, 2rem);
  height: 100vh;
  background-color: rgb(247, 247, 247);

  > aside {
    width: 100%;
    background-color: white;
    padding: 1rem;
    z-index: 10;
    overflow-y: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    > div {
      margin: 2rem 1rem;
      > h5 {
        @include heading(2px);
        opacity: 0.8;
        margin: 1em 0;
      }
      > ul {
        @include flex(column, unset, unset, 0.5rem);
        list-style: none;
        > li {
          transition: padding 2s;
          > a {
            color: rgba(0, 0, 0, 0.825);
            @include flex(row, unset);
          }
          .active {
            background-color: rgba(92, 240, 66, 0.56);
            color: rgba(0, 0, 0, 0.8) !important;
          }
        }
      }
    }
  }
}

.table {
  border-collapse: collapse;
  width: 100%;
  th,
  td {
    padding: 8px;
    text-align: center;
    vertical-align: middle;
  }
  th {
    font-weight: bold;
    color: #0000009e;
    font-size: 1.1rem;
    font-weight: 400;
    padding: 2rem 1rem;
  }
  tbody {
    tr {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.093);
    }
    td {
      padding: 1rem;
      img {
        width: 4rem;
        height: 4rem;
        object-fit: contain;
        border-radius: 10px;
      }
      a {
        text-decoration: none;
        background-color: rgba(44, 104, 255, 0.455);
        color: rgba(44, 104, 255);
        padding: 0.25rem 0.5rem;
        border-radius: 10px;
      }
      button {
        width: 2rem;
        height: 2rem;
        font-size: 1.1rem;
        border: none;
        outline: none;
        background-color: transparent;
        cursor: pointer;
        color: rgba(255, 44, 44);
        &:hover {
          opacity: 0.6;
        }
      }
      &:first-child {
        border-left: none;
      }
      &:last-child {
        border-right: none;
      }
    }
  }
}

.table-pagination {
  @include flex(row);
  padding: 2rem;
  > button {
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgba(0, 115, 255);
    color: white;
    &:disabled {
      background-color: rgba(0, 115, 255, 0.1);
    }
  }
}

#hamburger {
  display: grid;
  place-items: center;
  @include square(3rem);
  border: none;
  cursor: pointer;
  color: #00fd119e;
  position: fixed;
  top: 1rem;
  left: 1rem;
  font-size: 2rem;
  background-color: whitesmoke;
  border-radius: 20%;
  z-index: 9;
}
#close-modal-btn {
  background-color: rgb(251, 67, 16);
  color: white;
  width: 100%;
  padding: 0.8em;
  font-size: 0.9em;
  border: none;
  border-radius: 10px;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-container {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.modal-header h2 {
  margin: 0;
  font-size: 1.5rem;
}

.close-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #666;
}

.close-button:hover {
  color: #000;
}

.modal-description {
  margin: 10px 0;
  color: #555;
}

.modal-content {
  margin-top: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  textarea {
    width: 350px;
    max-width: 350px;
    min-width: 350px;

    max-height: 100px;
    height: 100px;
    overflow-y: scroll;
    border: 2px solid rgb(109, 253, 125);
    padding: 1rem;
    border-radius: 10px;

    color: #000000;
  }

  textarea:focus {
    outline: none;
    box-shadow: 5px 5px 5px rgb(136, 251, 138);
  }
  textarea {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }
  textarea::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
  button {
    background-color: rgb(61, 235, 73);
    padding: 1rem;
    border: none;
    margin: auto;
    width: 100%;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    font-weight: 600;
  }
}
