@media screen and (width<=1200px) {
  .header {
    > div > img {
      width: 60px;
      height: 60px;
    }
    > div > .name-logo {
      height: 40px;
      float: right;
      vertical-align: middle;
    }
    > .nav-links {
      @include flex(row, unset, unset, 1rem);

      > a {
        @include flex(row, center, center, 0.5rem);

        color: rgb(0, 0, 0);
        letter-spacing: 2px;
        font-size: 1rem;
        transition: padding 0.5s;
      }
      .active {
        padding-left: 0.7em;
        padding-right: 0.7em;
        background-color: rgb(56, 255, 73);
        border-radius: 10px;
        color: #ffffff;
      }

      button {
        border: none;
        font-size: 1.2rem;
        cursor: pointer;
        background-color: transparent;
        &:hover {
          color: rgb(36, 245, 60);
        }
      }
      dialog {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        width: 100px;
        position: absolute;
        left: calc(100% - 100px);
        top: 0%;
        > div {
          @include flex(column, flex-start, center, 0.25rem);
        }
      }
    }
  }
}
@media screen and (width<=900px) {
  .header {
    > div > img {
      width: 60px;
      height: 60px;
    }
    > div > .name-logo {
      height: 40px;
      float: right;
      vertical-align: middle;
    }
    > .nav-links {
      @include flex(row, unset, unset, 1rem);

      > a {
        @include flex(row, center, center, 0.5rem);

        color: rgb(0, 0, 0);
        letter-spacing: 2px;
        font-size: 0.6rem;
        transition: padding 0.5s;
      }
      .active {
        padding-left: 0.6em;
        padding-right: 0.6em;
      }

      button {
        border: none;
        font-size: 1.2rem;
        cursor: pointer;
        background-color: transparent;
        &:hover {
          color: rgb(36, 245, 60);
        }
      }
      dialog {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        width: 100px;
        position: absolute;
        left: calc(100% - 100px);
        top: 0%;
        > div {
          @include flex(column, flex-start, center, 0.25rem);
        }
      }
    }
  }
}
@media screen and (width<=600px) {
  .header {
    > div > img {
      width: 60px;
      height: 60px;
    }
    > div > .name-logo {
      height: 40px;
      float: right;
      vertical-align: middle;
    }

    > .hamburger {
      display: block;
    }

    > .responsive {
      @include flex(column, center, start, 0.5rem);
      position: absolute;
      top: 10%;
      right: 2%;
      z-index: 2;
      width: 230px;
      height: 260px;
      /* From https://css.glass */
      background: rgba(255, 255, 255, 0.49);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(8.3px);
      -webkit-backdrop-filter: blur(8.3px);
      border: 1px solid rgba(255, 255, 255, 0.1);
      border-radius: 10px;
      padding: 2em 1em;
      > a {
        color: rgb(0, 0, 0);
        letter-spacing: 2px;
        font-size: 16px;
        transition: padding 0.5s;
      }
      .active {
        padding-left: 0.4em;
        padding-right: 0.4em;
      }
    }
  }

  .product-search-page {
    padding: 1rem;
    @include flex(column, flex-start, stretch, 2rem);
    min-height: calc(100vh - 6.5vh);
    > aside {
      min-width: 10rem;
      border-right: 3px solid #3af800;
      padding: 2rem;
      @include flex(column, flex-start, stretch, 0.5rem);
      > h2 {
        @include heading;
      }
      > div {
        > input,
        > select {
          @include inputStyle(
            100%,
            1rem white,
            1px solid rgba(154, 154, 154, 0.38)
          );
        }
        border-radius: 10px;
        margin: 0.5rem;
      }
    }
    > main {
      width: 100%;
      padding: 0 1rem;
      > h1 {
        @include heading;
        text-align: center;
      }
      > input {
        @include inputStyle(50%);
        border-radius: 5px;
        margin: 1rem;
        font-size: 1.2rem;
        display: block;
      }
      .search-product-list {
        @include flex(row, flex-start, flex-start);
        flex-wrap: wrap;
        height: calc(100% - 10rem);
        overflow-y: auto;
      }
      article {
        @include flex(row);
        > button {
          @include flex(row);
          @include btn(0.5rem 1rem, rgb(106, 255, 96), rgb(255, 255, 255));
          border-radius: 10px;
          &:disabled {
            cursor: not-allowed;
            opacity: 0.5;
            color: white;
          }
        }
      }
    }
  }

  //productcard
  .productCard {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: rgb(40, 40, 40);
    margin: 2em;
    transition: all 0.5s;
    padding-bottom: 0.5em;
    border-radius: 20px;
  }
  .productCard > img {
    width: 220px;
    height: 190px;

    border-radius: 20px 20px 0 0;
  }
  .productCard > div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .productCard > div > span {
    margin: 0.5vmax;
    font: 300 13px;
  }
  .productCard > p {
    font-size: 18px;
    margin: 1em 0.5em;
    font-weight: bolder;

    margin-bottom: 0;
    text-align: start;
  }
  .productCard > span {
    margin: 0.5em 0.5em;
    color: tomato;

    font-size: 1rem;
  }
  #stock-span {
    position: absolute;
    top: 0;
    left: -1.4em;
    color: white;
    border-radius: 10%;
    background-color: rgb(61, 235, 73);
    padding: 2px 1em;
  }
  .productCard > button {
    background-color: rgb(61, 235, 73);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    width: 50%;
    margin: 1em 0.5em;
    border: none;
    padding: 0.5em 0em;
  }
  #heart {
    position: absolute;
    bottom: 0.6em;
    right: 1em;
    transition: all 0.5s ease-in-out;
  }
  #heart:hover {
    transform: scale(1.1);
  }
  .productCard:hover {
    box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);
    transform: translateY(-1em);
  }
  @media screen and (max-width: 600px) {
    .productCard > p {
      font-size: 12px;
    }
    .productCard > div {
      margin: 0;
      display: block;
    }
    .productCard > span {
      font-size: 0.5rem;
    }
    .productCard > div > span {
      margin: 0 0.5vmax;
      font: 300 12px "Roboto";
    }
  }
}

// .header {
//   @include flex(row, space-between, center, unset);

//   height: auto;
//   margin: auto 2em;
//   > div > img {
//     width: 90px;
//     height: 90px;
//   }
//   > div {
//     @include flex(row, center, center, unset);
//   }
//   > div > .name-logo {
//     height: 50px;
//     float: right;
//     vertical-align: middle;
//   }
//   > .nav-links {
//     @include flex(row, unset, unset, 1.6rem);
//     > a {
//       color: rgb(0, 0, 0);
//       letter-spacing: 2px;
//       font-size: 1.2rem;
//       transition: padding 0.5s;
//     }
//     .active {
//       padding-left: 0.7em;
//       padding-right: 0.7em;
//       background-color: rgb(56, 255, 73);
//       border-radius: 10px;
//       color: #ffffff;
//     }
//     button {
//       border: none;
//       font-size: 1.2rem;
//       cursor: pointer;
//       background-color: transparent;
//       &:hover {
//         color: rgb(36, 245, 60);
//       }
//     }
//     dialog {
//       border: 1px solid #ccc;
//       border-radius: 5px;
//       padding: 10px;
//       width: 100px;
//       position: absolute;
//       left: calc(100% - 100px);
//       top: 0%;
//       > div {
//         @include flex(column, flex-start, center, 0.25rem);
//       }
//     }
//   }
// }
