.feature-section {
  margin-top: 5em;
  margin-bottom: 5em;
  height: 100%;
}
.feature-section h5 {
  font-weight: 600;
  text-align: center;
  letter-spacing: 3px;
  color: #eb5757;
}
.feature-section h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: Bolder;
  font-size: 45px;
  text-align: center;
  width: 500px;
  margin: auto;
  line-height: 60px;
}
.features {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 4em;
}
.feature-1,
.feature-2,
.feature-3 {
  width: 330px;
  height: 351px;
  text-align: center;
}
.feature-1 h4,
.feature-2 h4,
.feature-3 h4 {
  font-size: 26px;
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
}
.feature-1 p,
.feature-2 p,
.feature-3 p {
  color: #333333;
  font-weight: bold;
  font-size: 18px;
}
.feature-img {
  width: 214.6px;
  height: 200px;
  margin: 2em auto;
}
@media only screen and (max-width: 992px) {
  .feature-section h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: Bolder;
    font-size: 45px;
    text-align: center;
    width: auto;
    margin: auto;
    line-height: 60px;
  }
  .features {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-top: 4em;
  }
}

/* @media only screen and (min-width: 600px) {...}


@media only screen and (min-width: 768px) {...} */
