@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
#parent-home-div {
  max-width: 85%;
  margin: auto;
}
.banner {
  display: flex;
  height: 100%;
  min-height: 80vh;
}
.left-section {
  width: 50%;
  margin: auto;
  position: relative;
}
.left-section > p#first-para {
  display: inline-block;
  width: 150px;
  padding: 10px;
  background-color: #dff6db;
  color: #56d93c;
  border-radius: 40px;
  text-align: center;
}
.left-section > h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
  font-size: 72px;
  line-height: 80px;
  margin-bottom: 0.5em;
}
.left-section > h2 > span {
  color: #3eeb61;
  font-weight: bolder;
  margin-top: 2em;
}
.get-started-btn {
  padding: 10px 25px;

  font-size: 22px;
  background-color: #7ceb57;
  color: white;
  border-radius: 30px;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}
.right-section {
  position: relative;
  width: 50%;
  overflow: hidden;
}
.clock_icon {
  width: 100px;
  height: 97px;
  top: 10%;
  position: absolute;
}
.parent-img-div {
  position: relative;
  width: 600px;
  height: 600px;
}
.bg-icon {
  position: absolute;
  width: 650px;
  height: 650px;

  right: 5%;
  z-index: -1;
}
.arrow-icon {
  position: absolute;
  right: 5%;
  top: 15%;
  z-index: 1;
}
.eating-girl {
  position: absolute;
  width: 900px;

  top: -45%;
  left: -20%;
  transform: scale(0.57);
}

.products-section {
  /* width: 90%; */
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
  gap: 1em;
  margin: 3em auto 3em auto;
  height: auto;
}
@media only screen and (max-width: 992px) {
  .products-section {
    flex-wrap: wrap;
  }
  .left-section > p#first-para {
    width: 120px;
  }
  .left-section > h2 {
    font-size: 50px;
    line-height: 70px;
  }

  .get-started-btn {
    padding: 10px 25px;
  }
  .right-section {
    position: relative;
    width: 50%;
    overflow: hidden;
  }
  .clock_icon {
    width: 80px;
    height: 77px;
    top: 10%;
    position: absolute;
  }
  .parent-img-div {
    position: relative;
    width: 600px;
    height: 600px;
  }
  .bg-icon {
    width: 550px;
    height: 550px;
    right: 27%;
    top: 10%;
  }
  .arrow-icon {
    right: 5%;
    top: 0%;
  }
  .eating-girl {
    position: absolute;
    top: -50%;
    left: -40%;
    transform: scale(0.45);
  }
}
@media only screen and (max-width: 768px) {
  .products-section {
    flex-wrap: wrap;
  }
  .left-section > p#first-para {
    width: 120px;
  }
  .left-section > h2 {
    font-size: 50px;
    line-height: 69px;
  }

  .get-started-btn {
    padding: 10px 25px;
  }
  .right-section {
    position: relative;
    width: 50%;
    overflow: hidden;
  }

  .bg-icon {
    width: 550px;
    height: 550px;
    right: 27%;
    top: 10%;
  }
  .arrow-icon {
    right: 5%;
    top: 0%;
  }
  .eating-girl {
    position: absolute;
    top: -50%;
    left: -40%;
    transform: scale(0.45);
  }
}
@media only screen and (max-width: 600px) {
  .banner {
    flex-direction: column;
  }
  .left-section {
    width: auto;
    margin: 3em auto;
    text-align: center;
    position: relative;
  }
  .parent-img-div {
    width: 400px;
    height: 400px;
  }
  .right-section {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  .bg-icon {
    width: 380px;
    height: 380px;
    right: 23%;
    top: 5%;
  }
  .arrow-icon {
    right: 5%;
    top: 0%;
  }
  .eating-girl {
    position: absolute;
    top: -120%;
    left: -57%;
    transform: scale(0.4);
  }
}
